


<main class="container m-5">

    <div class="col-6">
        <h1 class="p-3"   >Contact us</h1>
<p class="fst-italic p-3">Have a question or comment? Send us a message!</p>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3">
  <button type="button" class="btn btn-outline-dark">Submit</button>
</div>

    </div>



</main>

