<main class="container">
    <h1 class="text-center"> Error</h1>
    <p class="text-center fst-italic"> this route isn't available </p>
    <div class="row justify-content-center align-items-center">
    <p class="fst-italic col-sm-4 col-12 aling-items-end">We are so sorry... <br> <a href="/">Go back home...</a></p>
    
    <img src="/public/images/dogerror.png" alt="error" class="img-fluid col-sm-8 col-12">
    </div>



</main>

