

<section class="container mt-5">
  <div class="row">
    <div class="col-md-6">
        <img src="/public/images/index1.jpg" alt="GeoIX" class="img-fluid">
       </div>
    <div class="col-md-6  d-flex justify-content-center align-items-center">
        <div class="row">
      <h2 class="col-12">How does it work?</h2>
      <p class="col-12"> GeoIX uses the Google Maps Geocoding API to convert place names and addresses into geographic coordinates. The application then uses the OpenWeatherMap API to retrieve weather information for the location. Finally, the application uses the Google Places API to find nearby points of interest, such as restaurants, parks, and museums.</p>

        </div>
    </div>
  </div>
